name = "PDBTools"
uuid = "e29189f1-7114-4dbd-93d0-c5673a921a58"
authors = ["Leandro Martinez <leandro@iqm.unicamp.br>"]
version = "0.11.2"

[deps]
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
Parameters = "0.12"
julia = "1"
