name = "PDBTools"
uuid = "e29189f1-7114-4dbd-93d0-c5673a921a58"
authors = ["Leandro Martinez <lmartine@unicamp.br>"]
version = "1.1.0"

[deps]
AtomsBase = "a963bdd2-2df7-4f54-a1ee-49d51e6be12a"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Downloads = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
Formatting = "59287772-0a20-5a39-b81b-1366585eb4c0"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
TestItems = "1c621080-faea-4a02-84b6-bbd5e436b8fe"

[compat]
Aqua = "0.8"
AtomsBase = "0.3.4"
Dates = "1.6"
Documenter = "1"
Downloads = "1.4"
Formatting = "0.4"
InteractiveUtils = "1.6"
LinearAlgebra = "1.6"
Parameters = "0.12"
Printf = "1.6"
StaticArrays = "1"
Test = "1.6"
TestItemRunner = "0.2"
TestItems = "0.1"
julia = "1.6"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestItemRunner = "f8b46487-2199-4994-9208-9a1283c18c0a"

[targets]
test = ["Test", "TestItemRunner", "StaticArrays", "Aqua", "Documenter"]
